body {
    height: 100%;
    background-color: rgb(219, 194, 157);
}

.title {
    width: 0.9em;
    display: flex;
    font-size: 55px;
    margin: 100px 0px 50px 100px;
}

#newButton {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 0px;
    margin:  30px auto;
    font-size: 60px;
}
button:focus {
    outline:0;
}
button:hover {
    background-color: chocolate;
}

.table{
    width: 100%;
    display:inline-block;
    text-align: center;
}

.card {
    position:relative;
    display:inline-block;
    width: 300px;
    height: 200px;
    font-size: 20px;
    margin: 20px 15px 20px 15px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.658);
    transition: top 0.3s ease;
}

.card:hover {
    top: -10px;
}

h2 {
    font-size: 30px;
    margin: 40px 20px 10px 20px;
}

h3 {
    font-size: 15px;
    margin: 0px 10px;
}

h4 {
    font-size: 15px;
}

.status {
    display:inline-flex;
    align-items:center;
    margin: auto;
}

#form{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

#form-box{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    width: 350px;
    height: 450px;
    margin: auto;
    margin-top: 75px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#form-box > h2 {
    text-align: center;
}

.forminput {
    width: 300px;
}

.closeForm {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.closeForm:hover, .closeForm:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closeCard {
    color:black;
    float: right;
    margin: 10px 10px 0px 0px;
}
.closeCard:hover, .closeCard:focus {
    cursor:pointer;
}